<div class="box">
<div class="box1">
    <h2>Arya Stark</h2>
    <p>Born in 289 AC at Winterfell, Arya is the youngest daughter and third child of Lord Eddard Stark, the head of House
        Stark and Warden of the North, and Lady Catelyn Tully. <br> <br>Arya has an older sister, Sansa, an older brother, Robb, and
        two younger brothers, Bran and Rickon. She also has an older bastard half-brother, Jon Snow.
         <br> <br>Arya has spent her entire life at Winterfell, though she did accompany her father on two occasions to White Harbor.
        Arya has been tutored by Septa Mordane in the womanly arts (including needlework), and received lessons from Maester
        Luwin as well. Arya was also taught to ride a horse, but due to being called "Arya Horseface" by Jeyne Poole because
        of her long face, she could not enjoy the fact that riding horses was one of the few things she was better at than
        her older sister. The House Stark guards call her "Arya Underfoot".
         <br> <br>Arya is a spirited girl interested in fighting and exploration, unlike her older sister, Sansa. Arya wants to learn
        how to fight with a sword, to the horror of Sansa, who enjoys the more traditional pursuits of a noblewoman. Arya is
        particularly close to her half brother, Jon Snow, who encourages her martial pursuits.</p>
</div>

<div class="box2">
    {{!-- <img src="../public/images/Arya Profile.jpeg" alt="Arya"> --}}
</div>

</div>