<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    {{!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> --}}

    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    <title>Arya Stark</title>
</head>
<body>
    
    {{> nav}}

    {{{ body }}}
</body>
</html>